body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #212122;
  color: rgb(147, 149, 151);
}




.chatbot-container {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  height: 905px;
}

.chat-messages {
  flex: 1;
  overflow-y: scroll;
}

.message {
  padding: 5px;
  margin: 5px;
  border-radius: 4px;
}

.message.user {
  background-color: #e6f7ff;
}

.message.assistant {
  background-color: #fff;
}

.chat-form {
  display: flex;
  margin-top: 10px;
}

.chat-form input {
  flex: 1;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.chat-form button {
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 5px 10px;
  cursor: pointer;
}






